    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{title}} [ID: {{product.owner_id}}]</h3>
		<span>{{suberr}} </span>
    </div>
    <div class="modal-body">
        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <form-element label="NAME" mod="product">
                <input type="text" class="form-control" name="name" placeholder="NAME" ng-model="product.name" ng-disabled="product.id" focus/>
            </form-element>
            <form-element label="ADDRESS" mod="product">
            <textarea class="form-control" name="address" placeholder="ADDRESS" ng-model="product.address">{{product.description}}</textarea>
            </form-element>
            <form-element label="PHONE" mod="product">
                <input type="text" name="phone" class="form-control" placeholder="PHONE" ng-model="product.phone"  only-numbers/>
                <small class="errorMessage" ng-show="product_form.phone.$dirty && product_form.phone.$invalid"> Enter the price.</small>
            </form-element>
            <form-element label="BUSINESS NAME" mod="product">
                <input type="text" name="business_name" class="form-control" placeholder="BUSINESS NAME" ng-model="product.business_name"/>
                <small class="errorMessage" ng-show="product_form.business_name.$dirty && product_form.business_name.$invalid"> Enter the Packing.</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

